<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <% if (user) { %>
            <p>Вы вошли как: <strong><%= user.username %></strong></p>
            <div class="nav">
                <a href="/profile" class="btn">Профиль</a>
                <a href="/logout" class="btn">Выйти</a>
            </div>
        <% } else { %>
            <div class="nav">
                <a href="/login" class="btn">Войти</a>
                <a href="/register" class="btn">Зарегистрироваться</a>
            </div>
        <% } %>
    </div>
</body>
</html> 